In [1]:
import pandas as pd
import seaborn as sns
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 500)

In [2]:
df_ = pd.read_excel('gezinomi.xlsx')
df = df_.copy()

In [3]:
def general_information(df):
    print("_____ INFO _____")
    print(df.info(), end='\n\n')
    print("_____ DESCRIPTION _____")
    print(df.describe().T, end='\n\n')
    print("_____ SHAPE _____")
    print(df.shape,end ='\n\n')
    print("_____ MISSING _____")
    print(df.isnull().sum().sort_values(ascending=False), end='\n\n')
    print("_____ QUANTILE _____")
    print(df.quantile([0.01, 0.05, 0.10, 0.25, 0.50, 0.75, 0.90, 0.95, 0.99, 1]).T, end='\n\n')
    print("_____ UNIQUE _____")
    print(df.nunique(), end='\n\n')
    print("_____ HEAD _____")
    print(df.head(), end='\n\n')
    print("_____ TAIL _____")
    print(df.tail(), end='\n\n')
    print("_____ SAMPLE _____")
    print(df.sample(5), end='\n\n')

general_information(df)

_____ INFO _____
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59164 entries, 0 to 59163
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   SaleId              59164 non-null  int64
 1   SaleDate            59164 non-null  datetime64[ns]
 2   CheckInDate         59164 non-null  datetime64[ns]
 3   Price               59151 non-null  float64
 4   ConceptName         59164 non-null  object
 5   SaleCityName        59164 non-null  object
 6   CInDay              59164 non-null  object
 7   SaleCheckInDayDiff  59164 non-null  int64
 8   Seasons             59164 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(2), object(4)
memory usage: 4.1+ MB
None

_____ DESCRIPTION _____
                      count           mean           std      min            25%            50%            75%           max
SaleId              59164.0  302675.795433  87943.222683  51707.0  274038.500000  321607.000000  367373.000000  415122.00000
Price               59151.0      61.345057     51.384617      0.0      35.343035      54.261294      77.962578    4880.47138
SaleCheckInDayDiff  59164.0      31.840173     51.493509      0.0       2.000000      10.000000      34.000000     630.00000

_____ SHAPE _____
(59164, 9)

_____ MISSING _____
Price                 13
SaleId                 0
SaleDate               0
CheckInDate            0
ConceptName            0
SaleCityName           0
CInDay                 0
SaleCheckInDayDiff     0
Seasons                0
dtype: int64

_____ QUANTILE _____
                            0.01          0.05           0.10           0.25           0.50           0.75          0.90          0.95           0.99          1.00
SaleId              60655.560000  97069.150000  151668.200000  274038.500000  321607.000000  367373.000000  393616.00000  401622.85000  411238.850000  415122.00000
Price                  13.716655     19.640853      24.458104      35.343035      54.261294      77.962578     106.30137     125.45621     172.749473    4880.47138
SaleCheckInDayDiff      0.000000      0.000000       1.000000       2.000000      10.000000      34.000000     103.00000     157.00000     223.000000     630.00000

_____ UNIQUE _____
SaleId                51861
SaleDate               2314
CheckInDate            2173
Price                 19642
ConceptName               3
SaleCityName              6
CInDay                    7
SaleCheckInDayDiff      309
Seasons                   2
dtype: int64

_____ HEAD _____
   SaleId   SaleDate CheckInDate       Price     ConceptName SaleCityName    CInDay  SaleCheckInDayDiff Seasons
0  415122 2022-12-03  2022-12-03   79.304029    Herşey Dahil      Antalya  Saturday                   0     Low
1  415103 2022-12-03  2022-12-03   45.970696  Yarım Pansiyon      Antalya  Saturday                   0     Low
2  404034 2022-09-12  2022-09-13   77.838828    Herşey Dahil      Antalya   Tuesday                   1    High
3  415094 2022-12-03  2022-12-10  222.710623  Yarım Pansiyon        İzmir  Saturday                   7     Low
4  414951 2022-12-01  2022-12-03  140.476190  Yarım Pansiyon        İzmir  Saturday                   2     Low

_____ TAIL _____
       SaleId   SaleDate CheckInDate       Price     ConceptName SaleCityName     CInDay  SaleCheckInDayDiff Seasons
59159   51817 2016-01-05  2016-10-10   54.304636    Herşey Dahil      Antalya     Monday                 279     Low
59160   51816 2016-01-05  2016-10-10   54.304636    Herşey Dahil      Antalya     Monday                 279     Low
59161   51814 2016-01-05  2016-01-06   40.562914    Herşey Dahil        Diğer  Wednesday                   1     Low
59162   51736 2016-01-04  2016-01-05   69.847682  Yarım Pansiyon        Diğer    Tuesday                   1     Low
59163   51731 2016-01-04  2016-08-22  158.940397    Herşey Dahil      Antalya     Monday                 231    High

_____ SAMPLE _____
       SaleId   SaleDate CheckInDate      Price   ConceptName SaleCityName    CInDay  SaleCheckInDayDiff Seasons
3869   399889 2022-08-26  2022-09-03  50.549451  Herşey Dahil        Aydın  Saturday                   8    High
26954  330688 2021-08-29  2021-08-30  59.857838  Herşey Dahil        Aydın    Monday                   1    High
30224  322991 2021-08-03  2021-08-08  50.130939  Herşey Dahil        Aydın    Sunday                   5    High
20096  354298 2022-03-16  2022-03-22  50.584249  Herşey Dahil      Antalya   Tuesday                   6     Low
49927  228820 2019-07-27  2019-08-12  64.444444  Herşey Dahil      Antalya    Monday                  16    High

In [4]:
df.SaleCityName.unique()

array(['Antalya', 'İzmir', 'Diğer', 'Aydın', 'Muğla', 'Girne'],
      dtype=object)

In [5]:
df.SaleCityName.value_counts()

Antalya    31649
Muğla      10662
Aydın      10646
Diğer       3245
İzmir       2507
Girne        455
Name: SaleCityName, dtype: int64

In [6]:
df.ConceptName.unique()

array(['Herşey Dahil', 'Yarım Pansiyon', 'Oda + Kahvaltı'], dtype=object)

In [7]:
df.ConceptName.value_counts()

Herşey Dahil      53186
Yarım Pansiyon     3559
Oda + Kahvaltı     2419
Name: ConceptName, dtype: int64

In [8]:
df.groupby('SaleCityName')['Price'].sum()

SaleCityName
Antalya    2.041911e+06
Aydın      5.732960e+05
Diğer      1.545723e+05
Girne      2.706503e+04
Muğla      6.658422e+05
İzmir      1.659348e+05
Name: Price, dtype: float64

In [9]:
df.groupby('ConceptName')['Price'].count()

ConceptName
Herşey Dahil      53180
Oda + Kahvaltı     2414
Yarım Pansiyon     3557
Name: Price, dtype: int64

In [10]:
df.groupby('SaleCityName')['Price'].mean()

SaleCityName
Antalya    64.521474
Aydın      53.855896
Diğer      47.707497
Girne      59.483579
Muğla      62.461746
İzmir      66.267905
Name: Price, dtype: float64

In [11]:
df.groupby('ConceptName')['Price'].mean()

ConceptName
Herşey Dahil      62.672260
Oda + Kahvaltı    50.252010
Yarım Pansiyon    49.030742
Name: Price, dtype: float64

In [12]:
df.groupby(['SaleCityName', 'ConceptName'])['Price'].mean()

SaleCityName  ConceptName
Antalya       Herşey Dahil      64.519028
              Oda + Kahvaltı    63.504816
              Yarım Pansiyon    67.190613
Aydın         Herşey Dahil      53.995467
              Oda + Kahvaltı    34.458787
              Yarım Pansiyon    30.016543
Diğer         Herşey Dahil      84.771093
              Oda + Kahvaltı    37.599082
              Yarım Pansiyon    42.113440
Girne         Herşey Dahil      97.680970
              Oda + Kahvaltı    39.775536
              Yarım Pansiyon    53.247838
Muğla         Herşey Dahil      63.020053
              Oda + Kahvaltı    59.037763
              Yarım Pansiyon    45.120924
İzmir         Herşey Dahil      74.701519
              Oda + Kahvaltı    41.320342
              Yarım Pansiyon    59.610053
Name: Price, dtype: float64

In [13]:
df["EB_Score"] = pd.cut(df.SaleCheckInDayDiff, bins=[-1, 7, 30, 90, df.SaleCheckInDayDiff.max()], labels = ["Last Minuters", "Potential Planners", "Planners", "Early bookers"])

In [14]:
new_df = df.groupby(['SaleCityName', 'ConceptName', 'EB_Score']).agg({'Price': ['mean', 'count']})
new_df

                                                    Price
                                                     mean  count
SaleCityName ConceptName    EB_Score
Antalya      Herşey Dahil   Last Minuters       62.752916  14148
                            Potential Planners  64.903700   8874
                            Planners            67.879960   4490
                            Early bookers       66.494885   3281
             Oda + Kahvaltı Last Minuters       65.353740    503
...                                                   ...    ...
İzmir        Oda + Kahvaltı Early bookers       66.928111      3
             Yarım Pansiyon Last Minuters       57.788126    636
                            Potential Planners  64.804043    198
                            Planners            60.507887     47
                            Early bookers       65.905583     14

[72 rows x 2 columns]

In [15]:
agg_df = df.groupby(['SaleCityName', 'ConceptName', 'Seasons']).agg({'Price': ['mean']}).sort_values(by=[('Price', 'mean')], ascending=False)
agg_df.head()

                                          Price
                                           mean
SaleCityName ConceptName    Seasons
Girne        Herşey Dahil   High     103.935448
                            Low       90.935944
İzmir        Yarım Pansiyon High      87.657303
Diğer        Herşey Dahil   Low       87.310882
                            High      83.787273

In [16]:
agg_df.index
agg_df.reset_index(inplace = True)

In [17]:
agg_df["sales_level_based"] = (agg_df.SaleCityName + "_" + agg_df.ConceptName + "_" + agg_df.Seasons).apply(lambda x: x.upper())
agg_df.head()

  SaleCityName     ConceptName Seasons       Price          sales_level_based
                                              mean
0        Girne    Herşey Dahil    High  103.935448    GIRNE_HERŞEY DAHIL_HIGH
1        Girne    Herşey Dahil     Low   90.935944     GIRNE_HERŞEY DAHIL_LOW
2        İzmir  Yarım Pansiyon    High   87.657303  İZMIR_YARIM PANSIYON_HIGH
3        Diğer    Herşey Dahil     Low   87.310882     DIĞER_HERŞEY DAHIL_LOW
4        Diğer    Herşey Dahil    High   83.787273    DIĞER_HERŞEY DAHIL_HIGH

In [18]:
agg_df.columns = agg_df.columns.droplevel(1)

In [19]:
agg_df["SEGMENT"] = pd.qcut(agg_df["Price"], 4, labels=["D", "C", "B", "A"])
agg_df.groupby("SEGMENT").agg({"Price": ["mean", "max", "sum"]})

             Price
              mean         max         sum
SEGMENT
D        33.366288   39.479630  300.296592
C        44.887654   54.141797  403.988887
B        60.274498   64.920065  542.470478
A        82.467833  103.935448  742.210498

In [20]:
customer1 = "ANTALYA_HERŞEY DAHIL_HIGH"
agg_df[agg_df.sales_level_based == customer1]

  SaleCityName   ConceptName Seasons      Price          sales_level_based SEGMENT
9      Antalya  Herşey Dahil    High  64.920065  ANTALYA_HERŞEY DAHIL_HIGH       B

In [21]:
customer2 = "GIRNE_YARIM PANSIYON_LOW"
agg_df[agg_df.sales_level_based == customer2]

   SaleCityName     ConceptName Seasons      Price         sales_level_based SEGMENT
19        Girne  Yarım Pansiyon     Low  48.578903  GIRNE_YARIM PANSIYON_LOW       C